<html>
	<head>
		{% block head %}
		<title>{% block title %}{{ config.get("page_title") }} {{ lang.get("menu_settings") }}{% endblock %}</title>
		<meta charset="utf-8" />
		<meta name="author" content="Skewoo" />
		<meta name="viewport" content="width=device-width">
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
		<link rel="shortcut icon" href="/static/icon.ico">
		<link rel="stylesheet" media="all" href="/static/base.css"/>
        <link rel="stylesheet" media="all" href="/static/settings.css"/>
        <link rel="stylesheet" media="all" href="/static/hint.css"/>
        <link rel="stylesheet" media="all" href="/static/popup.css"/>
        {% if config.get("dark_theme") %}<link rel="stylesheet" media="all" href="/static/dark.css"/>{% endif %}
		<link rel="stylesheet" media="all" href="https://fonts.googleapis.com/css?family=Open+Sans:400,600,700"/>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
		{% endblock %}
        <script>
            $(document).ready(function() {
                $("header li").each(function(index) {
                    var href = $(this).children().attr("href").slice(1);
                    var addr = window.location.href.split("/");
                    if (addr.indexOf(href)+1) {
                        $(this).addClass("current");
                    }
                });
            });
        </script>
	</head>
	<body>
        <header>
            <ul>
                <li class="header"><a href="/index">{{ config.get("page_title") }}</a></li>
                <li class="right"><a href="/about">{{ lang.get("menu_about") }}</a></li>
                <li class="right"><a href="/settings">{{ lang.get("menu_settings") }}</a></li>
            </ul>
        </header>
        <div id="main">
            <div id="sidebar">
                <ul>
                    <li><a href="/settings"><i class="fa fa-cogs" aria-hidden="true"></i> {{ lang.get("menu_configuration") }}</a></li>
                    <li><a href="/settings/sensors"><i class="fa fa-server" aria-hidden="true"></i> {{ lang.get("menu_sensors") }}</a></li>
                    <li><a href="/settings/tools"><i class="fa fa-wrench" aria-hidden="true"></i> {{ lang.get("menu_tools") }}</a></li>
                    <li><a href="/settings/log"><i class="fa fa-sticky-note-o" aria-hidden="true"></i> {{ lang.get("menu_log") }}</a></li>
                    <li><a href="/settings/logout"><i class="fa fa-power-off" aria-hidden="true"></i> {{ lang.get("menu_logout") }}</a></li>
                </ul>
            </div>
            <div id="container">
                {% if msg %}<div class="message">{{msg}}</div>{% endif %}
                {% if success %}<div class="message success">{{success}}</div>{% endif %}
                {% if error %}<div class="message error">{{error}}</div>{% endif %}
                {% if info %}<div class="message info">{{info}}</div>{% endif %}
                {% if warning %}<div class="message warning">{{warning}}</div>{% endif %}
                {% block content %}{% endblock %}
            </div>
        </div>
	</body>
</html>