<html>
	<head>
		{% block head %}
		<title>{% block title %}SensorsHub Settings{% endblock %}</title>
		<meta charset="utf-8" />
		<meta name="author" content="Skewoo" />
		<meta name="viewport" content="width=device-width">
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
		<link rel="shortcut icon" href="/static/icon.ico">
		<link rel="stylesheet" media="all" href="/static/base.css"/>
        <link rel="stylesheet" media="all" href="/static/settings.css"/>
        <link rel="stylesheet" media="all" href="/static/hint.css"/>
        {% if config.get("dark_theme", False) %}<link rel="stylesheet" media="all" href="/static/dark.css"/>{% endif %}
		<link rel="stylesheet" media="all" href="https://fonts.googleapis.com/css?family=Open+Sans:400,600,700"/>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
		{% endblock %}
        <script>
            $(document).ready(function() {
                $("header li").each(function(index) {
                    var href = $(this).children().attr("href").slice(1);
                    var addr = window.location.href.split("/");
                    if (addr.indexOf(href)+1) {
                        $(this).addClass("current");
                    }
                });
            });
        </script>
	</head>
	<body>
        <header>
            <ul>
                <li class="header"><a href="/index">SensorsHub</a></li>
                <li class="right"><a href="/about">About</a></li>
                <li class="right"><a href="/settings">Settings</a></li>
            </ul>
        </header>
        <div id="main">
            <div id="sidebar">
                <ul>
                    <li><a href="/settings">Settings Home</a></li>
                    <li><a href="/settings/sensors">Sensors</a></li>
                    <li><a href="/settings/log">Log</a></li>
                </ul>
            </div>
            <div id="container">
                {% if msg %}<div class="message">{{msg}}</div>{% endif %}
                {% if success %}<div class="message success">{{success}}</div>{% endif %}
                {% if error %}<div class="message error">{{error}}</div>{% endif %}
                {% block content %}{% endblock %}
            </div>
        </div>
	</body>
</html>