{% extends "settings/base.html" %}
{% block head %}
    {{ super() }}
{% endblock %}
{% block content %}
<section>
    <h2>{{ lang.get("logs_title") }}</h2>
    <form action="/settings/log/" method="POST"><select name="file">
        {% for file in files %}
        <option style="color:" {% if log_file == file %}selected{% endif %}>{{ file }}</option>
        {% endfor %}
    </select><input type="submit" class="button smaller" value="{{ lang.get("logs_button_see") }}"/></form>
    <div class="log">
        {{ log }}
    </div>
</section>
{% endblock%}