{% extends "settings/base.html" %}
{% block head %}
    {{ super() }}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.1.4/Chart.min.js"></script>
    <script>
        $(document).ready(function(){
            $(".show-warn-msg").click(function(event){
                var msg = "{{ lang.get("settings_warning_popup") }}";
                if(window.confirm(msg)) {
                    return true;
                } else {
                    event.stopPropagation();
                    return false;
                }
            });
        });
    </script>
{% endblock %}
{% block content %}
<section>
    <form action="/settings/sensor/" method="POST">
        <input type="hidden" name="action" value="update_sensor"/>
        <input type="hidden" name="sid" value="{{ sensor.sid }}"/>
        <h2>{{ lang.get("sensor_settings") }}</h2>
        <table>
            <tr>
                <th scope="col">{{ lang.get("sensor_sensor_id") }}</th>
                <td><input class="wide" type="text" disabled="1" value="{{ sensor.sid }}"/></td>
            </tr>
            <tr>
                <th scope="col">{{ lang.get("sensor_token") }}</th>
                <td><input class="wide" type="text" disabled="1" value="{{ sensor.token }}"/></td>
            </tr>
            <tr>
                <th scope="col">{{ lang.get("sensor_last_update") }}</th>
                <td><input class="wide" type="text" disabled="1" value="{% if sensor.updated %}{{ sensor.updated | strftime }}{% else %}Never{% endif %}"/></td>
            </tr>
            <tr>
                <th scope="col">{{ lang.get("sensor_title") }}</th>
                <td><input class="wide" name="title" type="text" value="{{ sensor.title }}"/></td>
            </tr>
            <tr>
                <th scope="col">{{ lang.get("sensor_description") }}</th>
                <td><input class="wide" name="description" type="text" value="{{ sensor.description }}"/></td>
            </tr>
            <tr>
                <th>{{ lang.get("sensor_actions") }}</th>
                <td>
                    <input class="button smaller" type="submit" value="{{ lang.get("sensor_button_update") }}"/>
                    {% if sensor.status == 0 %}
                    <a class="button smaller" href="/settings/sensor?sid={{ sensor.sid }}&action=disable">{{ lang.get("sensor_button_disable") }}</a>
                    {% endif %}
                    <a class="show-warn-msg button smaller warning" href="/settings/sensor?sid={{ sensor.sid }}&action=regen">{{ lang.get("sensor_button_regenerate_token") }}</a>
                    <a class="show-warn-msg button smaller error" href="/settings/sensor?sid={{ sensor.sid }}&action=remove">{{ lang.get("sensor_button_remove_sensor") }}</a>
                </td>
            </tr>
        </table>
    </form>
</section>
{% for field in sensor.get_fields() %}
<section>
    <form action="/settings/sensor/" method="POST">
        <input type="hidden" name="action" value="update_field"/>
        <input type="hidden" name="sid" value="{{ sensor.sid }}"/>
        <input type="hidden" name="fid" value="{{ field.fid }}"/>
        <h2>{{ lang.get("sensor_field") }}</h2>
        <table>
            <tr>
                <th scope="col">{{ lang.get("sensor_field_id") }}</th>
                <td><input class="wide" type="text" disabled="1" value="{{ field.fid }}"/></td>
            </tr>
            <tr>
                <th scope="col">{{ lang.get("sensor_field_name") }}</th>
                <td><input class="wide" type="text" disabled="1" value="{{ field.name }}"/></td>
            </tr>
            <tr>
                <th scope="col">{{ lang.get("sensor_field_display_name") }}</th>
                <td><input class="wide" name="display_name" type="text" value="{{ field.display_name }}"/></td>
            </tr>
            <tr>
                <th scope="col">{{ lang.get("sensor_field_unit") }}</th>
                <td><input class="wide" name="unit" type="text" value="{{ field.unit }}"/></td>
            </tr>
            <tr>
                <th scope="col">{{ lang.get("sensor_field_icon") }}</th>
                <td><input class="wide" name="icon" type="text" value="{{ field.icon }}"/></td>
            </tr>
            <tr>
                <th scope="col">{{ lang.get("sensor_field_color") }}</th>
                <td><input class="wide" name="color" type="color" value="{{ field.color }}"/></td>
            </tr>
            <tr>
                <th>{{ lang.get("sensor_field_actions") }}</th>
                <td>
                    <input class="button smaller" type="submit" value="{{ lang.get("sensor_field_button_update") }}"/>
                    <a class="show-warn-msg button warning smaller" href="/sensors/?action=remove_field&fid={{ field.fid }}">{{ lang.get("sensor_field_button_remove") }}</a>
                </td>
            </tr>
        </table>
    </form>
</section>
{% endfor %}
{% endblock%}