{% extends "settings/base.html" %}
{% block head %}
    {{ super() }}
    <script>
        confirmed = [];
        function warn(obj) {
            if(confirmed.lastIndexOf(obj) !== -1) return true;
            var msg = "Changing this can result in loosing access to the website. This option is only for advanced users. Are you sure that you want to edit this?";
            var confirm = window.confirm(msg);
            if(confirm) confirmed.push(obj);
            console.log(confirmed);
            return confirm;
        }
    </script>
{% endblock %}
{% block content %}
<section>
    <h2>All sensors</h2>
    <table class="sensors-table">
    {% if active_sensors %}
        {% for sensor in active_sensors %}
            <tr>
            <td>{{ sensor.title }}</td>
            <td>{{ sensor.description }}</td>
            <td>
                <a class="button smaller" href="/settings/sensor?sid={{ sensor.sid }}">Edit sensor</a>
            </td>
            </tr>
        {% endfor %}
    {% else %}
        <tr><th><div class="setting-description">No active sensors found</div></th></tr>
    {% endif %}
    <tr><th><div class="title">Disabled sensors</div></th></tr>
    {% if inactive_sensors %}
        {% for sensor in inactive_sensors %}
            <tr>
            <td>{{ sensor.title }}</td>
            <td>{{ sensor.description }}</td>
            <td>
                <a class="button smaller" href="/settings/sensor?sid={{ sensor.sid }}">Edit</a>
                <a class="button smaller" href="/settings/sensor?sid={{ sensor.sid }}&action=enable">Enable</a>
                <a class="button smaller" href="/settings/sensor?sid={{ sensor.sid }}&action=remove">Remove</a>
            </td>
            </tr>
        {% endfor %}
    {% else %}
        <tr><th><div class="setting-description">No inactive sensors found</div></th></tr>
    {% endif %}
    </table>
</section>
<section>
    <h2>Add new sensor manually</h2>
    <form action="/settings/sensors/" method="POST">
        <input class="wide" type="text" name="title" placeholder="Title" /><br>
        <input class="wide" type="text" name="description" placeholder="Description" /><br>
        <input type="hidden" name="action" value="add" />
        <input class="Button" type="submit" value="Create sensor" /><br>
    </form>
</section>
{% endblock%}