{% extends "settings/base.html" %}
{% block head %}
    {{ super() }}
{% endblock %}
{% block content %}
<section>
    <h2>Database</h2>
    <table>
        <tr><td>Filesize</td><td>{{ database.filesize }}MB</td></tr>
        <tr><td>Total readings</td><td>{{ database.readings }}</td></tr>
    </table>
</section>
<section>
    <h2>Auto update</h2>
    <table>
        <tr><td>Current version</td><td>v{{ autoupdate.version }}</td></tr>
        <tr><td>Latest version</td><td>v{{ autoupdate.latest }}</td></tr>
    </table>
    {% if autoupdate.version < autoupdate.latest %}
        <a href="#" class="button" onclick="$('#update_confirm').show()">Update now</a>
    {% endif %}
    <script>
        var updater_status = 0;

        function begin_update() {
            $("#update_confirm").hide();
            $("#update_progress").show();

            $("#update_progress div").html("<i class='fa fa-cog fa-spin fa-3x fa-fw'></i><br>Starting update process. Please wait.<br>");
            $.getJSON("/settings/tools?action=autoupdate");
            update_progress();
        }

        function update_progress() {
            $.getJSON("/api/action,status", function(data) {
                if(data["updater_status"] != updater_status) {
                    if(data["updater_status"] > 1 && updater_status <= 1) {
                        $("#update_progress div").append("[2/7] Downloading zip...<br>");
                    }
                    if(data["updater_status"] > 2 && updater_status <= 2) {
                        $("#update_progress div").append("[3/7] Extracting...<br>");
                    }
                    if(data["updater_status"] > 3 && updater_status <= 3) {
                        $("#update_progress div").append("[4/7] Replacing files...<br>");
                    }
                    if(data["updater_status"] > 4 && updater_status <= 4) {
                        $("#update_progress div").append("[5/7] Removing update dir...<br>");
                    }
                    if(data["updater_status"] > 5 && updater_status <= 5) {
                        $("#update_progress div").append("[6/7] Configuring permissions...<br>");
                    }
                    if(data["updater_status"] > 6 && updater_status <= 6) {
                        $("#update_progress div").append("[7/7] Closing connections and restartnig.<br>");
                        setTimeout(update_wait,2500);
                    }
                    updater_status = data["updater_status"];
                }
            }).complete(function(){
                setTimeout(update_progress,250);
            });
        }

        function update_wait() {
            $.ajax("/api/action,status", {
                type: "HEAD",
                timeout: 1000,
                complete:function(xhr, tstatus) {
                    if(xhr.status == 200) {
                        $("#update_progress div").append("<strong>Updated successfully! You can refresh page now :)</strong>");
                    } else {
                        $("#update_progress div").append("Waiting for Sensorshub to start...<br>");
                        setTimeout(update_wait, 1000);
                    }
                }
            });
        }
    </script>
    <div class="popup" id="update_confirm" style="display: none">
    <div>
        Do you really want to perform update using website?<br><br>
        If something goes wrong, you will loose access to it and access to the terminal and knowledge will be needed!<br>
        <a href="#" class="button" onclick="$('#update_confirm').hide()">No, cancel</a>
        <a href="#" class="button error" onclick="begin_update()">Yes, i understand consequences</a>
    </div>
    </div>
    <div class="popup" id="update_progress" style="display: none">
        <div></div>
    </div>
</section>
<section>
    <h2>Statistics</h2>
    <table>
        <tr><td>Currently online users</td><td>{{ statistics.online }}</td></tr>
    </table>
</section>
{% endblock%}