{% extends "settings/base.html" %}
{% block head %}
    {{ super() }}
{% endblock %}
{% block content %}
<section>
    <h2>Database</h2>
    <table>
        <tr><td>Filesize</td><td>{{ database.filesize }}MB</td></tr>
        <tr><td>Total readings</td><td>{{ database.readings }}</td></tr>
    </table>
</section>
<section>
    <h2>Auto update</h2>
    <table>
        <tr><td>Current version</td><td>v{{ autoupdate.version }}</td></tr>
        <tr><td>Latest version</td><td>v{{ autoupdate.latest }}</td></tr>
    </table>
</section>
<section>
    <h2>Statistics</h2>
    <table>
        <tr><td>Currently online users</td><td>{{ statistics.online }}</td></tr>
    </table>
</section>
{% endblock%}