html, body {
	margin: 0;
	padding: 0;
	color: #444;
}

body {
	width: 100%;
	height: 100%;

	font-size: 14px;
	background-color: #FFF;
	font-family: 'Open Sans', sans-serif;
}

body * {
    font-family: 'Open Sans', sans-serif;
}

a {
    color: #777;
    font-size: 0.9em;
}

/*
*   Navigation
*/
header {
    overflow: hidden;
    padding: 10px 25px 0 25px;
}
header ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}
header li {
    display: inline-block;
}
header li.header a {
    font-size: 2em;
    color: #666;
    text-decoration: none;
    vertical-align: middle;
}
header li.right {
    float: right;
}
header li.right a {
    /* Shape */
    margin-right: 5px;
    padding: 5px;
    height: 38px;
    line-height: 38px;

    /* Text */
    font-size: 18px;
    text-align: center;
    text-decoration: none;
    font-weight: bold;
    color: #777;
    border-bottom: 2px solid #BBB;

}
header li.right a:hover {
    transition: all 0.1s;
    color: #888;
    border-bottom: 2px solid #0AF;
}
header li.current a {
    border-bottom: 2px solid #0AF;
}

/*
*   Main content
*/
#container {
    padding: 10px 25px;
}
section {
    margin-top: 5px;
}
.center {
    text-align: center;
}

table {
    width: 100%;
    text-align: left;
    border-collapse: collapse;
}
input:not([type="submit"]):not([type="checkbox"]), select, textarea {
    margin: 1px;
    padding: 3px 5px;
    border: 1px solid #BABABA;
    background-color: #FFF;
    outline: 0;
    color: #000;
}
input.wide, select.wide, textarea.wide {
    width: 25vw;
}
input:disabled {
    color: #999 !important;
    border-color: #D5D5D5 !important;
}
th {
    font-weight: 600;
}

/*
*   Buttons and titles
*/
.button {
    /* Shape */
    display: inline-block;
    flex-grow: 1;
    margin: 7px 0 0 7px;
    padding: 5px 15px;

    /* Text */
    font-size: 15px;
    text-align: center;
    text-decoration: none;
    color: #FFF;

    /* Background */
    background-color: #0e86ca;
    border: 1px solid transparent;
    border-radius: 4px;
}
.button:hover {
    cursor: pointer;
    background-color: #0079C4;
}
.button.smaller {
    margin: 0 0 0 5px;
    padding: 2px 5px;
}

.button.success {  background-color: #7ad03a;  }
.button.success:hover {  background-color: #69B231;  }
.button.error {  background-color: #d43f3a;  }
.button.error:hover {  background-color: #B23431;  }
.button.warning {  background-color: #d58512;  }
.button.warning:hover {  background-color: #B26E10;  }

footer, footer a {
    font-size: 12px;
    color: #777;
}

/* Messages */
.message {
    margin: 5px 0 15px 0;
    padding: 10px 10px;
}
.message.success {  background-color: #58A500;  }
.message.error {  background-color: #D43F3A;  }
.message.warning {  background-color: #d58512;  }
.message.info {  background-color: #0079C4;  }

/* Font awesome vertical align fix */
.fa {line-height: inherit;}