.sensor-container {
    display: flex;
    flex-wrap: wrap;
}
.sensor-section {
    flex: 1;
    max-width: 256px;
    max-height: 256px;
    padding: 10px;
    text-align: center;
    text-decoration: none;
    background-color: #699E00;
    color: #FFF;
    border-radius: 3px;
}
.sensor-section:hover {
    opacity: 0.95;
}

.sensor-title {
    font-size: 2em;
}