.sensor-title {
    font-size: 2em;
    font-weight: bold;
}
.sensor-description {
    font-size: 0.75em;
}

.tag-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: stretch;
}
.tag {
    flex: 1;
    display: flex;
    justify-content: space-between;
    align-items: center;

    margin: 5px 3px;
    padding: 5px 10px;
    min-width: 200px;
    border-radius: 3px;
    background-color: #333;
    color: #FFF;
}
.tag-description {
    font-size: 0.75em;
    color: #DDD;
}
.tag-right {
    font-size: 1.2em;
    margin-left: auto;
}

.tag.orange { background-color: #F90; }
.tag.blue { background-color: #37F; }
.tag.gray { background-color: #666; }

input.tag {
    display: inline-block;
    text-align: center;
    font-size: 1.4em;
    border: none;
}
input.tag:hover {
    cursor: pointer;
    opacity: 0.9;
}