.sensor-title {
    font-size: 2em;
    font-weight: bold;
}
.sensor-description {
    font-size: 0.75em;
}

.tag-container {
    display: flex;
    flex-direction: row;
    align-items: stretch;
}

.tag-title {
    font-size: 1.2em;
}
.tag-description {
    font-size: 0.75em;
    color: #DDD;
}

.tag {
    flex: 1;
    margin: 5px 3px;
    padding: 5px 10px;
    border: none;
    border-radius: 3px;
    background-color: #333;
    color: #FFF;
    text-align: center;
}
.tag.orange { background-color: #F90; }
.tag.blue { background-color: #37F; }
.tag.gray { background-color: #666; }

.tag.input {
    font-size: 1.4em;
}
.tag.input:hover {
    cursor: pointer;
    opacity: 0.9;
}