{% extends "base.html" %}
{% block head %}
    {{ super() }}
    <link rel="stylesheet" media="all" href="/static/home.css"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.1.4/Chart.min.js"></script>
{% endblock %}
{% block content %}
<section>
    <div class="sensor-container">
        {% for sensor in sensors %}
            <a class="sensor-section" href="/single/{{ sensor.sid }}">
                <div class="sensor-title">{{ sensor.title }}</div>
                {{ sensor.value }}&deg;C
            </a>
        {% endfor %}
    </div>
</section>
{% endblock%}