{% extends "base.html" %}
{% block head %}
    {{ super() }}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.1.4/Chart.min.js"></script>
{% endblock %}
{% block content %}
<section>
    {% for sensor in sensors %}
        <h1>Sensor {{sensor.sid}}</h1>
        Description: {{sensor.description}}<br>
        Battery voltage: {{sensor.battery}}v<br>
        Value: {{sensor.value}}<br>
        Readings:<br>
        {% for reading in sensor.get_readings(60*60*24) %}
            Value: {{reading.value}} Battery: {{reading.battery}}v Updated: {{reading.updated}}<br>
        {% endfor %}
    {% endfor %}
</section>
{% endblock%}