{% extends "base.html" %}
{% block head %}
    {{ super() }}
    <link rel="stylesheet" media="all" href="/static/settings.css"/>
{% endblock %}
{% block content %}
<section>
    <h2>Your Account</h2>
    <form action="/settings/" method="POST">
        <table>
            <tr>
                <th scope="col">Username</th>
                <td><input type="text" disabled="1" value="{{ account.user }}"/></td>
            </tr>
            <tr>
                <th>Password</th>
                <td><input type="password" name="password" placeholder="New password"/></td>
            </tr>
            <tr>
                <th>Repeat password</th>
                <td><input type="password" name="password_repeat" placeholder="Repeat password"/></td>
            </tr>
            <tr>
                <th>Email</th>
                <td><input type="email" name="email" value="{{ account.email }}" /></td>
            </tr>
        </table>
        <input class="button" type="submit" name="update_account" value="Update" />
    </form>
</section>
<section>
    <h2>Configuration</h2>

</section>
{% endblock%}