{% extends "base.html" %}
{% block head %}
    {{ super() }}
    <link rel="stylesheet" media="all" href="/static/single.css"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.1.4/Chart.min.js"></script>
    <script>
        $(document).ready(function() {
            var sensor = JSON.parse('{{data}}');
            console.log(sensor);
            createChart("#graph",sensor);

            function createChart(id, data) {
                new Chart($(id), {
                    type: 'line',
                    data: data,
                    options: {
                        legend: {
                            display: true,
                            position: 'bottom',
                            cursor: 'pointer',
                            itemclick: function(e) {
                                if (typeof (e.dataSeries.visible) === "undefined" || e.dataSeries.visible) {
                                    e.dataSeries.visible = false;
                                } else {
                                    e.dataSeries.visible = true;
                                }
                                e.chart.render();
                            }
                        },
                        tooltips: {
                            enabled: true,
                            mode: 'label'
                        },
                        hover: {
                            mode: 'label'
                        },
                        animation: {
                            duration: 0
                        }
                    }
                });
            }
        });
    </script>
{% endblock %}
{% block content %}
<form action="/single/{{ sensor.sid }}/" method="GET">
<section>
    <span class="sensor-title">{{sensor.title}}</span> <span class="sensor-description">{{ sensor.description }}</span><br>
    <div class="tag-container">
        {% for field in fields %}
        <div class="tag" style="background-color: {{ field.color }}">
            <div class="tag-left">
                {{ field.display_name.title() }}<br>
                <div class="tag-description">Max: {{ field.max }} Min: {{ field.min }}</div>
            </div>
            <div class="tag-right">
                {{field.readings[-1].value}}{{ field.unit }}
            </div>
        </div>
        {% endfor %}
        <div class="tag gray">
            <div class="tag-left">
                Updated:
            </div>
            <div class="tag-right">
                {{sensor.updated|strftime}}
            </div>
        </div>
    </div>
    <div class="tag-container">
        <div class="tag gray">
            <div class="tag-left">Range</div>
            <div class="tag-right">
                <select name="range">
                    {% set range = settings["range"] %}
                    <option value="1" {% if range == "1" %}selected{% endif %}>Last 1 hour</option>
                    <option value="3" {% if range == "3" %}selected{% endif %}>Last 3 hours</option>
                    <option value="6" {% if range == "6" %}selected{% endif %}>Last 6 hours</option>
                    <option value="12" {% if range == "12" %}selected{% endif %}>Last 12 hours</option>
                    <option value="24" {% if range == "24" %}selected{% endif %}>Last 24 hours</option>
                    <option value="48" {% if range == "48" %}selected{% endif %}>Last 2 days</option>
                    <option value="96" {% if range == "96" %}selected{% endif %}>Last 4 days</option>
                    <option value="168" {% if range == "168" %}selected{% endif %}>Last 7 days</option>
                    <option value="336" {% if range == "336" %}selected{% endif %}>Last 14 days</option>
                    <option value="744" {% if range == "744" %}selected{% endif %}>Last 31 days</option>
                    <option value="2232" {% if range == "2232" %}selected{% endif %}>Last 3 months</option>
                    <option value="8760" {% if range == "8760" %}selected{% endif %}>Last year</option>
                </select>
            </div>
        </div>
        <div class="tag gray">
            <div class="tag-left">Date</div>
            <div class="tag-right">
                <input type="date" name="date" value="{{ settings.date }}" />
                <input type="time" name="time" value="{{ settings.time }}" />
            </div>
        </div>
        <div class="tag gray">
            <div class="tag-title">Average by</div>
            <select name="group">
                {% set group = settings["group"] %}
                <option value="1S" {% if group == "1S" %}selected{% endif %}>None</option>
                <option value="5M" {% if group == "5M" %}selected{% endif %}>5 Minutes</option>
                <option value="15M" {% if group == "15M" %}selected{% endif %}>15 Minutes</option>
                <option value="30M" {% if group == "30M" %}selected{% endif %}>30 Minutes</option>
                <option value="1H" {% if group == "1H" %}selected{% endif %}>1 Hour</option>
                <option value="6H" {% if group == "6H" %}selected{% endif %}>6 Hours</option>
                <option value="1d" {% if group == "1d" %}selected{% endif %}>1 Day</option>
                <option value="7d" {% if group == "7d" %}selected{% endif %}>7 Days</option>
                <option value="14d" {% if group == "14d" %}selected{% endif %}>14 Days</option>
                <option value="1m" {% if group == "1m" %}selected{% endif %}>1 Month</option>
                <option value="6m" {% if group == "6m" %}selected{% endif %}>6 Months</option>
            </select>
        </div>
        <input class="tag gray" type="submit" value="Update" /><br>
    </div>
    <br>
    <canvas id="graph" width="400" height="150"></canvas>
</section>
</form>
{% endblock%}